

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #112B3C;
}

.main-content {
    width: 90%;
    min-height: 1000px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 300px 700px;

}

.left-section {
    grid-column: span 1;
    background-color: #112B3C;
}

.right-section {
    grid-column: span 1 / span 2;
    background-color: #EFEFEF;
}

.left-content {
    padding: 1rem;
}

.profile-img {
    display: block;
    margin: auto;
    width: 60%;
    border: 5px solid white;
    border-radius: 30%;
}

.name {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
    color: white;
}

.designation {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    color: white;
}

.description {
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
    color: white;
}

.contact-info {
    padding: 0 2rem;
}

.social-media {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.icon {
    color: #F66B0E;
}

.pd {
    display: flex;
    align-items: center;
}

.text {
    color: white;
    padding-left: 10px;
}

.skills {
    /* font: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0.5rem; */
    color: white;
}

.skills-title{
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.skill-name{
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}

.progress-bar {
    border: 1px solid white;
    height: 4px;
    background-color: white;
    border-radius: 5px;
}

.right-main-content {
    padding: 2rem 3rem;
}

.right-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}

.tite-text {
    padding: 0 0.5rem;
    font-size: 0.9rem;
}

.left {
    width: 70%;
    padding-right: 10%;
}

.right {
    width: 30%;
}

.desc-container {
    padding: 0 0.5rem;
    display: flex;
}

.s-right-title {
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
}

.two {
    font-size: 0.7rem;
    font-weight: 700;
}

.desc {
    font-size: 0.9rem;
}



/* @media only screen and (max-width: 1070px) {
    .main-content {
        grid-template-columns: 300px 600px;
    }
}

@media only screen and (max-width: 960px) {
    .main-content {
        grid-template-columns: 300px 500px;
    }
}

@media only screen and (max-width: 860px) {
    .main-content {
        grid-template-columns: 270px 450px;
    }
}

@media only screen and (max-width: 775px) {
    .main-content {
        grid-template-columns: 250px 380px;
    }
} */

@media only screen and (max-width: 673px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }
}





